body{
  font-family: 'Special Elite', cursive;
  background-image: url(http://www.millionglitters.com/background/thumb/pattern/background-pattern-004.jpg);
  background-repeat: repeat;
  text-align: center;
}
h1{
  font-size: 4em;
  text-shadow: 3px -5px 4px rgba(22, 22, 22, .3);
}
h2{
  font-family: monospace; sans-serif;
  font-size: 2em;
}
input{
   text-align:center;
   margin:7px;
   padding:7px;
   border: inset #bdc5ce;
   width:190px;
}
button{
  margin: 2px;
}
.btn-default{
  background: -webkit-linear-gradient(to top, #cecfd5, #f2f2f2);
  background: -moz-linear-gradient(to top, #cecfd5, #f2f2f2);
  background: linear-gradient(to top, #cecfd5, #f2f2f2);
}
.btn-default:hover{
  background: #cecfd5;
}
.magnifyText{
  position: absolute;
  width: 150px;
  word-wrap: break-word;
  top:160px;
  left:58px;
}
.highlight{
  color:red;
}

#container{
  position: relative;
  max-width: 750px;
  margin-top: 90px;
}
#guessbox{
  max-width: 200px;
  margin-bottom: 17px;
}

#talkbox{
  top:140px;
}

#talkbox h1{
  margin-bottom: -15px;
}

#talkbox p{
  font-size: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}

#winbox{
  display: none;
}

#answerbox{
  display: none;
  opacity: .7;
  font-size: 1.5em;
  top:180px;
  /* Rotate */
    -ms-transform: rotate(-17deg); /* IE 9 */
    -webkit-transform: rotate(-17deg); /* Chrome, Safari, Opera */
    -mox-transform: rotate(-17deg);
    transform: rotate(-17deg);
}

#cluebox{
  top:345px;
  left:48px;
  width:180px;
  text-align: left;
}

#cluebox h3{
  text-align: center;
}

.cluebox{
  background-color: #f0f8ff;
  border-radius: 8%;
  opacity: .6;
  padding:5px;
  display: inline-block;
  margin-top: 6px;
  color: inherit;
}

.highlight{
  background-color: #f0f8ff;
  border-radius: 10%;
  padding:3px;
  display: inline-block;
  margin-top: 6px;
  color: inherit;
}

#magnifyGlass{
  width: 350px;
  position: absolute;
  top:130px;
  left:30px;
}
@media only screen and (max-width: 668px) {
    #magnifyGlass {
        display: none;
    }
    #talkbox, #winbox, #cluebox, #answerbox{
      position: static;
      margin: 0 auto;
    }
    #talkbox p, #cluebox h4{
      height: 1em;
    }
    
}