body{
  font-family: 'Special Elite', cursive;
  background-image: url(http://www.millionglitters.com/background/thumb/pattern/background-pattern-004.jpg);
  background-repeat: repeat;
  text-align: center;
}
h1{
  font-size: 4em;
  text-shadow: 3px -5px 4px rgba(22, 22, 22, .3);
}
h2{
  font-family: monospace; sans-serif;
  font-size: 2em;
}
input{
   text-align:center;
   margin:7px;
   padding:7px;
   border: inset #bdc5ce;
   width:190px;
}
button{
  margin: 2px;
}
.btn-default{
  background: -webkit-linear-gradient(to top, #cecfd5, #f2f2f2);
  background: -moz-linear-gradient(to top, #cecfd5, #f2f2f2);
  background: linear-gradient(to top, #cecfd5, #f2f2f2);
}
.btn-default:hover{
  background: #cecfd5;
}
#container{
  position: relative;
  max-width: 750px;
  margin-top: 90px;
}
#guessbox{
  max-width: 200px;
  margin-bottom: 17px;
}
#talkbox{
  position: absolute;
  top:200px;
  left:87px;
  
}
#magnify_glass{
  width: 350px;
  position: absolute;
  top:130px;
  left:30px;
}
@media only screen and (max-width: 668px) {
    #magnify_glass {
        display: none;
    }
    #talkbox{
      position: static;
    }
}